.features {
  background-color: #d9ffec;
  display: flex;
  justify-content: center;
  padding: 90px 0;

  &.dark {
    background-color: #0d084d;
    h1 {
      color: white !important;
    }
    p {
      color: white !important;
      margin-bottom: 20px !important;
    }
    .title {
      color: white !important;
      font-weight: 300 !important;
      font-size: 15px !important;
    }
    video {
      width: 100%;
    }
    button {
      background-color: #1dbf73;
      color: white;
      padding: 10px 20px;
      border-radius: 2px;
      font-size: 17px;
      cursor: pointer;
      outline: none;
      margin-top: 20px;
      border: none;
      width: max-content;
    }
  }

  .container {
    display: flex;
    width: 1100px;
    align-items: center;
    gap: 60px;
    .item {
      display: flex;
      flex-direction: column;
      gap: 15px;
      &:first-child {
        flex: 3;
      }
      &:last-child {
        flex: 3;
      }

      h1 {
        font-weight: 500;
        margin-bottom: 2px;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        color: gray;
        line-height: 20px;
        letter-spacing: 0px;
      }

      .title {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        font-size: 18px;
        color: rgb(88, 88, 88);
        img {
          width: 22px;
          height: 22px;
        }
      }
      video {
        width: 550px;
      }
    }
  }
}
